# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Виртуальное окружение
.venv/
venv/
env/
ENV/

# Env файлы
.env
*.env

# База данных
*.db
*.sqlite3

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/*.py
